.tabela, th, td{
    border: 1px solid black;
}
.tabela,th{
  text-align: center;
}
.dugme {
    background-color: #149bc4;
    border: none;
    color: white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 12px; */
    /* margin-left: 20px; */
    border-radius: 8px;
  }

  .tabela{
    width: calc(100% - 40px);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .clientInputContainter {
    margin: 10px 20px 10px 20px;
  }
  .clientInputContainter>input{
       margin-right: 20px;
  }
  .clientInputContainter>select{
      margin-right: 20x;
  }
 
  /* .kriterijumLabel{
    margin-left: 20px;
  } */
  .dugmeSacuvaj {
    background-color: #149bc4;
    border: none;
    color: white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px;
    margin-left: 20px;
    border-radius: 8px;
  }

  .kriterijumContainer{
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .highlight { background-color: rgb(170, 223, 226); }

  .izvestaj-grid>div{
    margin-top: 5px;
  }
  .izvestaj-grid{
    margin-left:5px;
  }
  .izvestaj-grid>div>label{
    min-width: 85px;
  }
  .izvestaj-grid>div>input{
    min-width: 300px;
  }
  .pretraga-klijenta{
    margin-top:30px;
    margin-bottom: 30px;
  }
  .margin-top-auto{
    margin-top: auto;
  }

  .validation{
    border-color: red;
}