<div class="userInputContainer">
    <label for="IDKlijent">ID:</label>
    <input type="text" id="IDKlijent" name="IDKlijent">

    <label for="jmbg">JMBG:</label>
    <input type="text" id="jmbg" name="jmbg">

    <label for="imePrezime">Ime i prezime:</label>
    <input type="text" id="imePrezime" name="imePrezime">

    <label for="brlk">Broj licne karte:</label>
    <input type="text" id="brlk" name="brlk">

    <label for="datumRodjenja">Datum rodjenja:</label>
    <input type="text" id="datumRodjenja" name="datumRodjenja">

    <label for="email">E-mail:</label>
    <input type="text" id="email" name="email">

    <label for="drzavljanstvo">Drzavljanstvo:</label>
    <input type="text" id="drzavljanstvo" name="drzavljanstvo">

    <label for="adresa">Adresa:</label>
    <input type="text" id="adresa" name="adresa">

</div>

 <h2>Rad sa racunima</h2>

<div class="racuni">
   

    <label for="brojRacuna">Broj racuna:</label>
    <input type="text" id="brojRacuna" name="brojRacuna">

    <label for="zaPlatu">Za platu:</label>
    <select name="zaPlatu" id="zaPlatu">
        <option>Da</option>
        <option>Ne</option>
    </select>

    <label for="tipRacuna">Tip racuna:</label>
    <select name="tipRacuna" id="tipRacuna">

    </select>

    <table style="width:100%" class= "tabela">
        <tr>
          <th>Broj racuna</th>
          <th>Za platu</th>
          <th>Tip racuna</th>
        </tr>
    </table>

</div>

<div class="dugmici">
    <button type="button" class = "dugme">Dodaj</button>

    <button type="button" class = "dugme">Izmeni</button>

    <button type="button" class = "dugme">Obrisi</button>

</div>

<button type="button" class = "dugmeSacuvaj">Sacuvaj klijenta</button>
