.userInputContainer{
    margin-top: 10px;
    margin-bottom: 0pt;
    margin-right: 20pt;
    margin-left: 20px;
}

.userInputContainer>div>label{
    margin-left: 20pt;
    margin-bottom: 10pt;
}
.userInputContainer>input{
    margin-left: 20pt;
    margin-bottom: 10pt;
}
.input-klijent>div>label{
    min-width: 106px;
}
.input-klijent>div>input{
    min-width: 225px;
}
.row{
    margin-top: 10px;
}

h2{
    border-bottom: solid;
    border-color: skyblue;
}

.tabela, th, td{
    border: 1px solid black;
}
.tabela,th{
    text-align: center;
  }

.dugme {
    background-color: #149bc4;
    border: none;
    color: white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px;
    margin-left: 20px;
    border-radius: 8px;
  }

.racuni>table{
   margin-left: 20pt;
   margin-bottom: 14pt;
   width: calc(100% - 40px);
}
.tabela,th{
    text-align: center;
  }

.racuni{
    margin-top: 20pt;
    margin-bottom: 0pt;
    margin-right: 20pt;  
}
.racuni>label{
    margin-left: 20pt;
    margin-bottom: 10pt;
}
.input-fields{
    margin-left: 15px;
    margin-bottom: 10px;
}
.input-fields>div>input{
    min-width: 220px;
}
.input-fields>div>label{
    min-width: 84px;
}
.input-fields>div>select{
    min-width: 84px;
}


.racuni>input{
    margin-left: 20pt;
    margin-bottom: 10pt;
}
.dugmici{
    margin-left: 4pt;
}

.dugmeSacuvaj {
    background-color: #149bc4;
    border: none;
    color: white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 4px;
    margin-left: 19pt;
    border-radius: 8px;
    margin-top: 8pt;
  }
  .porukica{
      color: red;
      margin-left: 20pt;
  }

.highlight { background-color: rgb(187, 208, 209); }

.validation{
    border-color: red;
}

