<div class="userInputContainer" *ngIf="klijent">

    <label for="jmbg">JMBG:</label>
    <input type="text" id="jmbg" [(ngModel)]="klijent.jmbg" name="jmbg">

    <label for="imePrezime">Ime i prezime:</label>
    <input type="text" id="imePrezime" [(ngModel)] = "klijent.imePrezime" name="imePrezime">

    <label for="brlk">Broj licne karte:</label>
    <input type="text" id="brlk" [(ngModel)]="klijent.brlk" name="brlk">

    <label for="datumRodjenja">Datum rodjenja:</label>
    <input type="text" id="datumRodjenja" [(ngModel)]="klijent.datumRodj" name="datumRodjenja">

    <label for="email">E-mail:</label>
    <input type="text" id="email" [(ngModel)]="klijent.email" name="email">

    <label for="drzavljanstvo">Drzavljanstvo:</label>
    <input type="text" id="drzavljanstvo" [(ngModel)]="klijent.drzavljanstvo" name="drzavljanstvo">

    <label for="adresa">Adresa:</label>
    <input type="text" id="adresa" [(ngModel)]="klijent.adresa" name="adresa">

</div>

 <h2>Rad sa racunima</h2>

<div class="racuni">
    <label for="brojRacuna">Broj racuna:</label>
    <input type="text" id="brojRacuna" name="brojRacuna">

    <label for="zaPlatu">Za platu:</label>
    <select name="zaPlatu" id="zaPlatu">
        <option>Da</option>
        <option>Ne</option>
    </select>

    <label for="tipRacuna">Tip racuna:</label>
    <select name="tipRacuna" id="tipRacuna">
        <option>Devizni</option>
        <option>Tekuci</option>
        <option>Dinarski</option>
        <option>Stedni</option>
    </select>

<div class="dugmici">
    <button type="button" class = "dugme">Dodaj</button>
</div>

    <table style="width:100%" class= "tabela">
        <tr>
          <th>Broj racuna</th>
          <th>Za platu</th>
          <th>Tip racuna</th>
        </tr>

        <tr *ngFor = "let racun of racuni; let i = index">
            <td>{{racun.brojRacuna}}</td>
            <td>{{racun.zaPlatu}}</td>
            <td>{{racun.tip}}</td>
            <td><button (click) = "obrisiRacun(i)">Obrisi</button></td>
            <td><button (click) = "openDialog(i)">Izmeni</button></td>
        </tr>
    </table>

</div>



<button type="button" class = "dugmeSacuvaj">Sacuvaj klijenta</button>
