<p><button type="button" class = "dugme" routerLink = "/unos-klijenta">Unos novog klijenta</button></p>

<div class="kriterijumContainer">
    <label for="kriterijumPretrageKlijenata">Kriterijum za pretragu klijenata:</label>
    <input type="text" id="kriterijumPretrageKlijenata" name="kriterijumPretrageKlijenata" [(ngModel)] = "kriterijum">

    <button type="button" class = "dugme" (click) = "uzmiKlijenteFizicko()">Pretrazi</button>
</div>


    <table class= "tabela">
        <tr>
        <th>JMBG</th>
        <th>Ime i prezime</th>
        <th>Datum rodjenja</th>
        <th>Drzavljanstvo</th>
        <th>Broj licne karte</th>
        <th>E-mail</th>
        <th>Adresa</th>
        </tr>

        <tr *ngFor = "let klijent of klijenti;  let i = index" (click)="selectRow(i)">
            <td>{{klijent.jmbg}}</td>
            <td>{{klijent.imePrezime}}</td>
            <td>{{klijent.datumRodj}}</td>
            <td>{{klijent.drzavljanstvo}}</td>
            <td>{{klijent.brlk}}</td>
            <td>{{klijent.email}}</td>
            <td>{{klijent.adresa}}</td>
            <td><button (click)="openDialogVerification(i)">Obrisi</button></td>
            <td><button [routerLink]="'/unos-klijenta/'+klijent.id">Izmeni</button></td>
        </tr>    

    </table>

<!-- <div class="dugmici">
    <button type="button" class = "dugme">Izmeni</button>

    <button type="button" class = "dugme" >Obrisi</button>

    <button type="button" class = "dugme">Prikazi</button>
</div> -->