<p><button type="button" class = "dugme" routerLink = "/unos-klijenta">Unos novog klijenta</button></p>

<div class="kriterijumContainer">
    <label for="kriterijumPretrageKlijenata">Kriterijum za pretragu izvestaja:</label>
    <input type="text" id="kriterijumPretrageKlijenata" name="kriterijumPretrageKlijenata">

    <button type="button" class = "dugme">Pretrazi</button>
</div>


    <table style="width:100%" class= "tabela">
        <tr>
        <th>RB</th>
        <th>JMBG</th>
        <th>Ime i prezime</th>
        <th>Datum rodjenja</th>
        <th>Drzavljanstvo</th>
        <th>Broj licne karte</th>
        <th>E-mail</th>
        <th>Adresa</th>
        </tr>
    </table>

<div class="dugmici">
    <button type="button" class = "dugme">Izmeni</button>

    <button type="button" class = "dugme">Obrisi</button>

    <button type="button" class = "dugme">Prikazi</button>
</div>