<div class = "racunInputContainer" *ngIf = "racun">
    <label for="brojRacuna">Broj racuna:</label>
    <input type="text" id="brojRacuna" name="brojRacuna" [(ngModel)] = "racun.brojRacuna">

    <label for="zaPlatu">Za platu:</label>
    <select name="zaPlatu" id="zaPlatu" [(ngModel)] = "racun.zaPlatu"> 
        <option>Da</option>
        <option>Ne</option>
    </select>

    <label for="tipRacuna">Tip racuna:</label>
    <select name="tipRacuna" id="tipRacuna" [(ngModel)] = "racun.tip">
        <option>Devizni</option>
        <option>Tekuci</option>
        <option>Dinarski</option>
        <option>Stedni</option>
    </select>
</div>

<div >
    <button class="dugme">Izmeni</button>
</div>