.racunInputContainer{
    margin-top: 20pt;
    margin-bottom: 14pt;
}

.racunInputContainer>label{
    margin-left: 20pt;
}

.dugme {
    background-color: #149bc4;
    border: none;
    color: white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px;
    margin-left: 20px;
    border-radius: 8px;
  }