.header{
    background-color: rgb(209, 15, 15);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: large;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
